@model IEnumerable<CinemaWebApplication.Role>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div class="container">
    <div id="chart2"></div>
</div>

@section scripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script>
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {

      $.get('/api/Charts/JsonDataRoles', function (JsonData) {
                data1 = google.visualization.arrayToDataTable(JsonData, false);
                var option1 =
                {
                    title: "Proportion between amount of actors and roles",
                    width: 1000,
                    height: 400
                };
                chart1 = new google.visualization.ColumnChart(document.getElementById('chart2'));
                chart1.draw(data1, option1);
            })

            
        }
    </script>
}